/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

html,body{
	margin: 0;
	padding: 0;
	background-color: #000;
	height: 100%;
	position: relative;
	overflow-x: hidden;

}

*,html,body{
	box-sizing: border-box;
}


#video-placeholder{
	width: 60%;
	height: 60%;
	position: relative;
	top: 35%;
	transform: translateY(-50%);
	overflow: hidden;
	margin: auto;
	display: flex;
}

/* Closed captions */

#closed-captions{

}

#closed-captions p{
	width: 100%;
	opacity: 0;
	transition: .05s;
	position: absolute;
	color: white;
	left: 20%;
	top: 75%;
	size: 2em;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}


.joeface::before {
	content: url(joejpg.svg);
	position: absolute;
	width: 100px;
	height: 100px;
	bottom: 10px;
	left: -8%;
}

.joeface {
	font-weight: 400;
	font-size: large;
}

.robot::before {
	content: url(robotjpg.svg);
	position: absolute;
	width: 180px;
	height: 180px;
	left: 55%;
	top: -340%;
}

.robot {
	font-weight: 400;
	font-family: "brenner mono";
	text-align: end;
	padding-right: 760px;
}


.soldier::before {
	content: url(soldierjpg.svg);
	position: absolute;
	width: 100px;
	height: 100px;
	bottom: -5px;
	left: -8%;
}

.soldier {
	font-weight: 400;
	font-family: "brenner slab";
	text-transform: uppercase;
}

.examinator::before {
	content: url(examinatorjpg.svg);
	position: absolute;
	width: 100px;
	height: 100px;
	bottom: 10px;
	left: 55%;
}

.examinator{
	font-weight: 500;
	font-style: italic;
	text-align: end;
	padding-right: 790px;
	font-size: large;
}


/* Timeline */

.sound0 #video-placeholder {
	animation: shake 0.8s ease-in-out;
	animation-iteration-count: 10;
}

.sound1 {
	animation: redbg 1s ease-in-out;
	animation-iteration-count: 2;
}


.sound2 #video-placeholder {
	animation: politie 1s ease-in-out;
	animation-iteration-count: 1;
}

.sound2 {
	animation: whitebg 1s ease-in-out;
	animation-iteration-count: 1;
}

.sound3 #video-placeholder {
	animation: shake 0.8s ease-in-out;
	animation-iteration-count: 2;
}

.sound5 {
	animation: whitebg 1s ease-in-out;
	animation-iteration-count: 1;
}

.sound8 #video-placeholder {
	animation: shake2 22.5s ease-in;
	animation-iteration-count: 1;
}

.sound15 #video-placeholder {
	animation: whitebg 1s ease-in-out;
	animation-iteration-count: 1;
}








/* Animations */

@keyframes shake {
	0% { transform: translate(0%, -50%) rotate(0deg); }
	0% { transform: translate(0%, -50%) rotate(0deg); }
	10% { transform: translate(1%, -51%) rotate(-0.2deg); }
	20% { transform: translate(-2%, -50%) rotate(0.2deg); }
	30% { transform: translate(2%,-49%) rotate(0deg); }
	40% { transform: translate(1%, -49%) rotate(0.2deg); }
	50% { transform: translate(1%, -51%) rotate(-0.2deg); }
	60% { transform: translate(-2%, -50%) rotate(0deg); }
	70% { transform: translate(2%, -50%) rotate(-0.2deg); }
	80% { transform: translate(-1%, -50%) rotate(0.2deg); }
	90% { transform: translate(0%, -49%) rotate(0deg); }
	100% { transform: translate(0%, -49%) rotate(-0.2deg); }
}

@keyframes shake2 {
	0% { transform: translate(0%, -50%) rotate(0deg); }
	0% { transform: translate(0%, -50%) rotate(0deg); }
	10% { transform: translate(1%, -50%) rotate(-0.2deg); }
	20% { transform: translate(-2%, -50%) rotate(0.2deg); }
	30% { transform: translate(2%,-50%) rotate(0deg); }
	40% { transform: translate(1%, -50%) rotate(0.2deg); }
	50% { transform: translate(1%, -50%) rotate(-0.2deg); }
	60% { transform: translate(-2%, -50%) rotate(0deg); }
	70% { transform: translate(2%, -50%) rotate(-0.2deg); }
	80% { transform: translate(-1%, -50%) rotate(0.2deg); }
	90% { transform: translate(0%, -50%) rotate(0deg); }
	100% { transform: translate(0%, -50%) rotate(-0.2deg); }
}

@keyframes zoomIn {
	0% { transform: scale(1,1);top: 10%; }
	20% { transform: scale(1.3,1.3);top: 10%;}
	100% { transform: scale(1,1);top: 10%;}
}

@keyframes politie {
	0% { transform: scale(1,1);top: 10%; }
	40% { transform: scale(1.3,1.3);top: 10%;}
	100% { transform: scale(1,1);top: 10%;}
}


@keyframes whitebg {
	0%, 49% {
		background-color: rgb(250, 250, 250);
	}
	50%, 100% {
		background-color: #b4b4b4;
	}
  }

@keyframes redbg {
	0% {
		background-color: #420C09;
	}
	100% {
		background-color: #111111;
	}
}


/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.

Met span :nth-of-type(nummer van woord hier) kun je ieder woord veranderen.
********************************************** */

.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	color: lightgreen;
}

.p1.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	color: yellow;
}


.p6.on span:nth-of-type(-n+2) {
	opacity: 1;
	transition: 0s;
	color: rgb(201, 41, 41);
}

.p8.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	color: lightblue;
}

.p10.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	color: lightblue;
}

.p44.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	color: lightgreen;
}



/* 2de deel */

.p48.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	color: lightblue;
}

.p49.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	color: yellow;
}

.p79.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	color: lightgreen;
}
